<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Character List</title>
</head>
<body>
<header>
    <a href="#" class="logo" onclick="window.location.href='http://localhost:8080/index'">RPGEXAMPLE</a>
</header>
<div class="container">
    <div class="column">
        <!-- Your content for the first column goes here -->
    </div>
    <div class="maincolumn">
        <!-- Your content for the second column goes here -->
        <h1>Character List</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Level</th>
                <th>Character Class</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="ch : ${charactermodel}">
                <td th:text="${ch.id}"></td>
                <td th:text="${ch.name}"></td>
                <td th:text="${ch.level}"></td>
                <td th:text="${ch.characterClass}"></td>
                <td><a th:href="@{/edit/{id}(id=${ch.id})}" class="btn btn-warning"><i class="fas fa-user-edit ml-2">EDIT</i></a></td>
                <td><a th:href="@{/delete/{id}(id=${ch.id})}" class="btn btn-danger"><i class="fas fa-user-times ml-2">DELETE</i></a></td>
            </tr>
        </table>
        <div class="buttons">
            <button type="button" class="btn btn-light" onclick="window.location.href='http://localhost:8080/addcharacter'">New Character</button>
            <button type="button" class="btn btn-light">Lorem Ipsum</button>
            <button type="button" class="btn btn-light">Lorem Ipsum</button>
        </div>
    </div>
    <div class="column">

    </div>
</div>
<script src="../css/script.js"></script>
</body>
</html>
